<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %} &middot; Minigit</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

        <link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css" />

        <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

        <script src="{{ url_for('static', filename='js/ZeroClipboard.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>

        <link rel="icon" href="{{ url_for('static', filename='gfx/favicon.ico') }}" type="image/x-icon">
        <link rel="icon" href="{{ url_for('static', filename='gfx/favicon.png') }}" type="image/png">

        {% block head %}{% endblock %}
    </head>

    <body class="default">
        <div id="wrapper">
            <div id="body">
                <div class="container">
                    <div class="row">
                        <div class="span3">
                            <div class="well sidebar-nav">
                                {% include "menu.html" %}
                            </div>

                            {% if current_user %}
                            <div class="well well-small logged-in-info">
                                <div class="avatar"><a href="{{ current_user.url }}"><img src="{{ current_user.getAvatar(48) }}" ></a></div>
                                <div class="text">
                                    <span class="logged-in-as">Logged in as</span><br />
                                    <a href="{{ current_user.url }}" class="logged-in-user">{{ current_user.username }}</a>
                                    <span class="logout-link"><a href="{{ url_for('logout') }}">Logout</a></span>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                        <div class="span9">
                            <div class="content">
                                {% include "flashes.html" %}

                                {% block content %}
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                </div> <!-- /container -->
            </div>

            <footer class="footer" id="footer">
                <div class="container">
                    <p class="pull-right">All times are UTC / GMT.</p>
                    <p>Powered by <a href="https://github.com/opatut/minigit">minigit</a>.</p>
                </div>
            </footer>
        </div>
    </body>
</html>
