<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %} &middot; Minigit</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css" />

        <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

        <link rel="icon" href="{{ url_for('static', filename='gfx/favicon.ico') }}" type="image/x-icon">
        <link rel="icon" href="{{ url_for('static', filename='gfx/favicon.png') }}" type="image/png">

        {% block head %}{% endblock %}
    </head>

    <body>
        <div class="container-fluid" style="width: 460px; margin: 100px auto;">
            <div class="page-header">
                <h1>Login</h1>
            </div>
            {% include "flashes.html" %}
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
