<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %} &middot; Minigit</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css" />

        <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

        <link rel="icon" href="{{ url_for('static', filename='gfx/favicon.ico') }}" type="image/x-icon">
        <link rel="icon" href="{{ url_for('static', filename='gfx/favicon.png') }}" type="image/png">

        {% block head %}{% endblock %}
    </head>

    <body>
        <div id="wrapper">
            <div id="body">
                <div class="container">
                    <div class="row">
                        <div class="span3">
                            <div class="well sidebar-nav">
                                {% include "menu.html" %}
                            </div>
                        </div>
                        <div class="span9">
                            <div class="content">
                                {% set flashes = get_flashed_messages(with_categories = True) %}
                                {% if flashes %}
                                    <div class="flashes">
                                    {% for category, message in flashes %}
                                        <div class="alert{{ (' alert-' + category) if category and category != 'message' else '' }}">
                                            <button type="button" class="close" data-dismiss="alert">×</button>
                                            {{ message }}
                                        </div>
                                    {% endfor %}
                                    </div>
                                {% endif %}

                                {% block content %}
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                </div> <!-- /container -->
            </div>

            <footer class="footer" id="footer">
                <div class="container">
                    <p class="pull-right">All times are UTC / GMT.</p>
                    <p>Powered by <a href="https://github.com/opatut/minigit">minigit</a>.</p>
                </div>
            </footer>
        </div>
    </body>
</html>
