{% macro menuCategory(label) %}
    <li class="nav-header">{{ label }}</li>
{% endmacro %}

{% macro menuEntry(label, icon, endpoint, kwargs = {}) %}
    <li{% if request.endpoint.startswith(endpoint) %} class="active"{% endif %}>
        <a href="{{ url_for(endpoint, **kwargs) }}">
            <i class="icon-{{ icon }}"></i>
            {{ label }}
        </a>
    </li>
{% endmacro %}

<ul class="nav nav-list">

{% if repo and repo.userHasPermission(current_user, "read") %}
    {{ menuCategory("Repository &middot; " | safe + repo.title) }}
    {{ menuEntry("Source Browser", "file", "browse", {"slug" : repo.slug, "ref" : "HEAD", "path" : ""}) }}
    {{ menuEntry("Commit history", "time", "commits", {"slug" : repo.slug} ) }}

    {% if repo.userHasPermission(current_user, "admin") %}
    {{ menuEntry("Permissions", "user", "permissions", {"slug" : repo.slug} ) }}
    {% endif %}
{% endif %}

    {{ menuCategory("General") }}
    {# menuEntry("Dashboard", "home", "index") #}
    {{ menuEntry("Repository list", "list", "repositories") }}
    {{ menuEntry("User list", "user", "users") }}

{% if current_user %}
    {% if current_user.is_admin %}
    {{ menuEntry("Add a user", "star", "register") }}
    {% endif %}


    {{ menuCategory("User Menu &middot; " | safe + current_user.username) }}
    {{ menuEntry("Profile", "wrench", "profile") }}
    {{ menuEntry("SSH Keys", "lock", "keys") }}
    {{ menuEntry("Email addresses", "envelope", "emails") }}
{% else %}
    {{ menuEntry("Login", "user", "login") }}
{% endif %}
</ul>
