{% extends "base.html" %}

{% block title %}Repositories{% endblock %}

{% block content %}
<div class="page-header">
    <h3>Repository List</h3>
</div>

<p>
    <a href="{{ url_for('create_repository') }}" class="btn"><i class="icon-plus"></i> Create a Repository</a>
</p>

{% for repo in list %}
    <h4>
        {% if repo.getUserPermission(current_user) == "find" %}
            <span class="label label-important" style="vertical-align: 3px;">Restricted</span>
            {{ repo.title }}
        {% else %}
            <a href="{{ url_for('browse', slug = repo.slug, rev = 'master', path = '') }}">{{ repo.title }}</a>
        {% endif %}

        <small>/{{ repo.slug }}</small>
    </h4>
{% endfor %}

{% endblock %}

