{% extends "base.html" %}

{% block title %}{% if path %}{{ path }} &middot; {% endif %}/{{ repo.slug }} &middot; {{ repo.title }}{% endblock %}

{% block head %}
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/browse.css') }}" />
    <script src="{{ url_for('static', filename='js/browse.js') }}"></script>
{% endblock %}

{% block content %}
<div class="page-header">
    <h3>File Browser <small>{{ repo.title }}</small></h3>
</div>


{% set branches = repo.git.branches %}
{% set isbranch = repo.git.isBranch(ref) %}

<div class="pull-right">
    <span class="input-prepend branch-select ">
        <span class="add-on">{% if isbranch %}branch{% else %}commit{% endif %}</span><select class="input-small" id="branch-select">
            {% for branch in repo.git.branches %}
                <option value="{{ url_for('browse', slug = repo.slug, ref = branch, path = path) }}" {% if repo.git.refHash(branch) == repo.git.refHash(ref) %}selected="SELECTED"{% endif %}>{{ branch }}</option>
            {% endfor %}

            {% if not isbranch %}
                <option value="{{ url_for('browse', slug = repo.slug, ref = ref, path = path) }}" selected="SELECTED">{{ ref[:10] }}</option>
            {% endif %}
        </select>
    </span>
    &nbsp;
    <span class="input-prepend git-url">
        <span class="add-on">git clone</span><input class="span3" type="text" value="{{ repo.gitUrl }}" >
    </span>
</div>

{% set path = tree.path %}
{% include "repo/path.html" %}

{{ repo.path }}
{% set commit = repo.git.getCommit(ref) %}
{% if commit %}
<div class="commit-info well">
    <div class="author">
        <div class="avatar">
            {% if commit.author %}
                <img src="{{ commit.author.getAvatar(24) }}" width="24" height="24" />
            {% else %}
                <img src="{{ url_for('static', filename = 'gfx/unknown-avatar.png') }}" width="24" height="24" />
            {% endif %}
        </div>

        {% if commit.author %}
        <a href="{{ commit.author.url }}">{{ commit.author.username }}</a>
        {% else %}
        {{ commit.author_raw or "Unknown" }}
        {% endif %}
    </div>

    <div class="message">
        {{ commit.message | newlines }}
        <span class="hash">{{ repo.git.refHash(commit.ref)[:10] }}</span>
    </div>
</div>
{% endif %}

<table class="files table table-condensed table-striped well">
    <thead>
    <tr>
        <th width="16"></th>
        <th>Filename</th>
        <th>Size</th>
        <th>Last changed</th>
        <th>Commit Message</th>
    </tr>
    </thead>
    <tbody>
    {% if path %}
    <tr class="folder">
        <td><i class="icon-16 icon-file-folder"></i></td>
        <td><a href="{{ url_for('browse', slug = repo.slug, ref = ref, path = path | parentpath) }}">[..]</a></td>
        <td colspan="3"><i>- parent directory -</i></td>
    </tr>
    {% endif %}

{% if tree and tree.children %}
{% for file in tree.children %}
    {% set last = repo.git.lastChangedCommit(ref, file.path) %}
    <tr class="{% if file.is_tree %}folder{% else %}file{% endif %}">
        <td><i class="icon-16 icon-file-{{ file.type or 'unknown' }}"></i></td>
        <td><a href="{{ url_for('browse', slug = repo.slug, ref = ref, path = file.path) }}">{{ file.name }}</a></td>
        <td>{% if file.is_blob %}{{ file.size | filesize }}{% else %}&mdash;{% endif %}</td>
        <td>{{ last.author_time | humantime }}</td>
        <td>
            {{ last.message[:70] }}{% if last.message | length > 70 %}...{% endif %}
            - <a href="{{ url_for('commits_details', slug = repo.slug, ref = last.ref) }}">{{ last.ref[:6] }}</a>
            -
            {% if last.author %}
            <a href="{{ last.author.url }}">{{ last.author.username }}</a>
            {% else %}
            {{ last.author_raw }}
            {% endif %}
        </td>
    </tr>
{% endfor %}
{% else %}
    <tr><td colspan="5"><i>This directory is empty.</i></td></tr>
{% endif %}
    </tbody>
</table>


{# SHOW README IF ANY #}
{% set file = tree.find("README*") %}
{% if file %}
    <br />
    {% include "render_file.html" %}
{% elif path == "" %}
    <p>You should add a readme file.</p>
{% endif %}


{% endblock %}
