{% extends "base.html" %}

{% block title %}{% if path %}{{ path }} &middot; {% endif %}/{{ repo.slug }} &middot; {{ repo.title }}{% endblock %}

{% block head %}
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/browse.css') }}" />
    <script src="{{ url_for('static', filename='js/browse.js') }}"></script>
{% endblock %}

{% block content %}
<div class="page-header">
    <h3>File Browser <small>{{ repo.title }}</small></h3>
</div>


{% set isbranch = (rev in repo.git.branches) %}

<div class="pull-right">
    <span class="input-prepend branch-select ">
        <span class="add-on">{% if isbranch %}branch{% else %}commit{% endif %}</span><select class="input-small" id="branch-select">
            {% for branch in repo.git.branches %}
                <option value="{{ url_for('browse', slug = repo.slug, rev = branch, path = path) }}" {% if branch == commit %}selected="SELECTED"{% endif %}>{{ branch.name }}</option>
            {% endfor %}

            {% if not isbranch %}
                <option value="{{ url_for('browse', slug = repo.slug, rev = rev, path = path) }}" selected="SELECTED">{{ rev[:10] }}</option>
            {% endif %}
        </select>
    </span>
    &nbsp;
    <span class="input-prepend git-url">
        <span class="add-on">git clone</span><input class="span3" type="text" value="{{ repo.gitUrl }}" >
    </span>
</div>

{% include "repo/path.html" %}

{% if commit %}

{% set author = (commit.author | gitToUser) %}

<div class="commit-info well">
    <div class="author">
        <div class="avatar">
            {% if author %}
                <img src="{{ author.getAvatar(24) }}" width="24" height="24" />
            {% else %}
                <img src="{{ url_for('static', filename = 'gfx/unknown-avatar.png') }}" width="24" height="24" />
            {% endif %}
        </div>

        {% if author %}
        <a href="{{ author.url }}">{{ author.username }}</a>
        {% else %}
        {{ commit.author or "Unknown" }}
        {% endif %}
    </div>

    <div class="message">{{ commit.message | trim }}</div>
    <div class="hash">{{ commit.name_rev[:10] }}</div>
</div>
{% endif %}

<table class="files table table-condensed table-striped well">
    <thead>
    <tr>
        <th width="16"></th>
        <th>Filename</th>
        <th>Size</th>
        <th>Last changed</th>
        <th>Commit Message</th>
    </tr>
    </thead>
    <tbody>
    {% if path %}
    <tr class="folder">
        <td><i class="icon-16 icon-file-folder"></i></td>
        <td><a href="{{ url_for('browse', slug = repo.slug, rev = rev, path = path | parentpath) }}">[..]</a></td>
        <td colspan="3"><i>- parent directory -</i></td>
    </tr>
    {% endif %}

{% if tree.trees or tree.blobs %}
{% for file in tree.trees + tree.blobs %}
    {% set last = repo.findCommitContaining(rev, file) %}
    <tr class="{% if file.type == "TREE" %}folder{% else %}file{% endif %}">
        <td><i class="icon-16 icon-file-{{ file | filetype }}"></i></td>
        <td><a href="{{ url_for('browse', slug = repo.slug, rev = rev, path = file.path) }}">{{ file.name }}</a></td>
        <td>{% if file.type == "BLOB" %}{{ file.size | filesize }}{% else %}&mdash;{% endif %}</td>
        <td>{{ last.authored_date | gittime | humantime }}</td>
        <td>
            {{ last.message[:70] }}{% if last.message | length > 70 %}...{% endif %}
            - <a href="{{ url_for('commits_details', slug = repo.slug, rev = last.hexsha) }}">{{ last.hexsha[:6] }}</a>
            -
            {% if last.author %}
            <a href="{{ last.author.url }}">{{ last.author.username }}</a>
            {% else %}
            {{ last.author_raw }}
            {% endif %}
        </td>
    </tr>
{% endfor %}
{% else %}
    <tr><td colspan="5"><i>This directory is empty.</i></td></tr>
{% endif %}
    </tbody>
</table>


{# SHOW README IF ANY }
{% set file = tree.find("README*") %}
{% if file %}
    <br />
    {% include "render_file.html" %}
{% elif path == "" %}
    <p>You should add a readme file.</p>
{% endif %}
#}


{% endblock %}
