{% extends "base.html" %}

{% block title %}/{{ repo.slug }} &middot; {{ repo.title }}{% endblock %}

{% block head %}
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/commits.css') }}" />
    <script src="{{ url_for('static', filename='js/commits.js') }}"></script>
{% endblock %}

{% block content %}
<div class="page-header">
    <h3>Commit history <small>{{ repo.title }}</small></h3>
</div>

{% if commits %}
<ul class="commits">
    {% set day = None %}
    {% for commit in commits %}
        {% if day != (commit.authored_date|gittime).date() %}
            {% set day = (commit.authored_date|gittime).date() %}
            <li class="date">{{ day | nicedate }}</li>
        {% endif %}
    <li class="commit">
        {% set author = commit.author|gitToUser %}
        {% if author %}
            <img src="{{ author.getAvatar(40) }}" width="40" height="40" />
        {% else %}
            <img src="{{ url_for('static', filename = 'gfx/unknown-avatar.png') }}" width="40" height="40" />
        {% endif %}
        <div class="message">
            {{ commit.message[:70] }}{% if commit.message | length > 70 %}...{% endif %}
        </div>
        <div class="meta">
            {% if author %}
            <a href="{{ author.url }}">{{ author.username }}</a>
            {% else %}
            {{ commit.author or "Unknown" }}
            {% endif %}
            authored {{ commit.authored_date | gittime | humantime }}
            <span class="hash">{{ commit.hexsha[:10] }}</span>
        </div>
        <div class="buttons">
            <a href="{{ url_for('commits_details', slug = repo.slug, rev = commit.hexsha) }}" class="btn btn-mini">Details</a>
            <a href="{{ url_for('browse', slug = repo.slug, rev = commit.hexsha, path = '') }}" class="btn btn-mini">Browse</a>
        </div>
    </li>
    {% endfor %}
</ul>

{% else %}
    <p>
        There are no commits yet.
    </p>
{% endif %}

{% endblock %}
