{% extends "base.html" %}

{% set raw_url = url_for('file_content', slug = repo.slug, ref = ref, path = file.path) %}

{% block title %}{% if path %}{{ path }} &middot; {% endif %}/{{ repo.slug }} &middot; {{ repo.title }}{% endblock %}

{% block head %}
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/file.css') }}" />
    <script src="{{ url_for('static', filename='js/file.js') }}"></script>

    <style>
        {# vs tango autumn borland #}
        {{ "tango" | highlightsheet }}
    </style>
{% endblock %}

{% block content %}
<div class="page-header">
    <h3>{{ file.name }}</h3>
</div>

<p class="pull-right" style="margin-top: -5px;">
    <a href="{{ raw_url }}" class="btn"><i class="icon-hdd"></i> Download</a>
</p>

{% set path = file.path %}
{% include "repo/path.html" %}
{% include "render_file.html" %}
{% endblock %}

