{% extends "base.html" %}
{% from "_formhelpers.html" import form_errors %}

{% block title %}Permissions &middot; /{{ repo.slug }} &middot; {{ repo.title }}{% endblock %}

{% block head %}
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/permissions.css') }}" />
    <script src="{{ url_for('static', filename='js/permissions.js') }}"></script>
{% endblock %}

{% block content %}
<div class="page-header">
    <h3>{{ repo.title }} <small>Permission managment</small></h3>
</div>

{% if repo.implicit_access == "admin" %}
    <div class="alert alert-danger">
        <strong>Warning!</strong> Everyone will be able
        to access this page, restrict your permissions and
        lock you out of this repository. Only use "Admin" as implicit
        access level when you trust all other users.
    </div>
{% endif %}

<div class="row-fluid">
    <div class="span6">

        <h4>Implicit access</h4>
        <form method="post" action="{{ url_for('permissions', slug = repo.slug) }}?implicit">
            {{ implicit_access.hidden_tag() }}
            {{ form_errors(implicit_access) }}

            <div class="input-append">
                {{ implicit_access.level(class = "span3") }}
                {{ implicit_access.submit(class="btn btn-primary") }}
            </div>

            <span class="help-block">
                Please select the level of access for users without an explicit
                permission level. All users not explicitly assigned
                on the right will have this level of access.
            </span>
        </form>

        <hr />


        <h4>Permission levels</h4>

        <table class="table table-bordered table-striped table-condensed table-hover">
            <tr>
                <th><span class="badge">None</span></th>
                <td>no access to repository</td>
            </tr>
            <tr>
                <th><span class="badge badge-info">Find</span></th>
                <td>repository shown in list, no access</td>
            </tr>
            <tr>
                <th><span class="badge badge-success">Read</span></th>
                <td>file browser, commit list, <b>git clone / fetch / pull</b></td>
            </tr>
            <tr>
                <th><span class="badge badge-warning">Write</span></th>
                <td><span class="badge badge-success">Read</span> + <b>git push</b></td>
            </tr>
            <tr>
                <th><span class="badge badge-important">Admin</span></th>
                <td><span class="badge badge-success">Read</span> + <span class="badge badge-warning">Write</span> + permission management</td>
            </tr>
        </table>
    </div>
    <div class="span6">

        <h4>Explicit user permissions</h4>
        <p>
            Here you can set the permissions on a per-user basis.
        </p>


        {% macro userPermissionLink(perm, level, color) %}
            <a href="{% if current_user == perm.user %}#{% else %}{{ url_for('permissions_action', slug = repo.slug, username = perm.user.username, action = level) }}{% endif %}" class="btn btn-mini {% if perm.access == level %}btn-{{ color }}{% endif %} {% if current_user == perm.user %}disabled{% endif %}">
                {{ level }}
            </a>
        {% endmacro %}

        <table class="table table-bordered table-striped table-condensed table-hover">
            <thead>
                <tr><th>User</th><th>Level of access</th><th>Remove</th></tr>
            </thead>
            <tbody>
                {% for p in repo.permissions %}
                <tr>
                    <td>{{ p.user.username }}</td>
                    <td>
                    {{ userPermissionLink(p, "none", "inverse") }}
                    {{ userPermissionLink(p, "find", "info") }}
                    {{ userPermissionLink(p, "read", "success") }}
                    {{ userPermissionLink(p, "write", "warning") }}
                    {{ userPermissionLink(p, "admin", "danger") }}
                    </td>
                    <td>
                        {{ userPermissionLink(p, "remove", "unknown") }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <h5>Add a user</h5>
        <form class="form form-inline" method="post" action="{{ url_for('permissions', slug = repo.slug) }}?add">
            {{ add_user_permission.hidden_tag() }}
            {{ form_errors(add_user_permission) }}
            {{ add_user_permission.username(placeholder = "Username") }}
            {{ add_user_permission.level(class = "span3") }}
            {{ add_user_permission.submit(class = "btn btn-primary") }}
        </form>
    </div>
</div>

{% endblock %}

