#wrapper {
    min-height: 100%;
    position: relative;
}

html, body.default {
    height: 100%;
}

#body {
    min-height: 100%;
    padding-bottom: 100px;
}

#footer {
    height: 30px;
    background: #F7F7F7;
    border-top: 1px solid #DDD;
    margin-top: 20px;
    padding: 20px 0 10px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.flashes .alert:first-child {
    margin-top: 20px;
}

/*body {
    background-color: #EEE;
}

.container div.content {
    background-color: white;
    padding: 20px;
    margin: 0 -20px;
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    box-shadow: 0 1px 2px rgba(0,0,0,.15);
}
*/

a.inherit {
    color: inherit;
    text-decoration: inherit;
}

.browse-path {
    font-size: 16pt;
}

.browse-path .separator {
    color: #AAA;
    font-weight: bold;
}

.browse-path .repo {
    font-weight: bold;
}


.commit-info {
    border-radius: 6px;
    margin: 10px 0;
    padding: 0;
    display: table;
    width: 100%;
    border-radius: 6px;
    border: 1px solid #DDD;
}

.commit-info > div {
    display: table-cell;
    vertical-align: top;
}

pre,
.commit-info .hash,
.commit-info .message,
.git-url {
    font-family: "Droid Sans Mono", "Courier New", monospace;
    font-size: 8pt;
    line-height: 1.4em;
}

.commit-info .message {
    padding: 6px;
    white-space: pre;
}

.commit-info .author {
    padding: 4px;
    background: #EEE;
    border-radius: 6px 0 0 6px;
    border-right: 1px solid #DDD;
    margin-right: 6px;

    white-space: nowrap;
    font-weight: bold;
    color: #777;
    line-height: 24px;
}

.commit-info .author .avatar {
    display: inline-block;
    margin-right: 6px;
}

.avatar img {
    display: inline-block;
    border-radius: 4px;
}

.codefile {
    background: #F7F7F7;
    padding: 6px;
    border-radius: 6px;
    border: 1px solid #DDD;
}

.codefile pre {
    background: none;
    border: none;
    padding: 0;
    font-size: 8pt;
    line-height: 1.4em;
    margin: 0;
}

.codefile {
    overflow: auto;
    width: 100%;
    padding: 0;
    margin: 0;
}

.linenos pre {
    padding: 0 10px;
    text-align: right;
}

pre {
    white-space: pre !important;
    overflow: auto !important;
    font-size: inherit;
}

.highlight pre {
    background: none !important;
}

.commit-file,
.markdown-file {
    padding: 10px 20px;
    background: #FDFDFD;
    border: 3px solid #EEE;
    border-radius: 3px;
    box-shadow: 0 0 2px #888 inset;
}

.markdown h1 { font-size : 1.6em; margin: 0; }
.markdown h2 { font-size : 1.4em; margin: 0; }
.markdown h3 { font-size : 1.2em; margin: 0; }
.markdown h4 { font-size : 1.0em; margin: 0; }
.markdown h5 { font-size : 1.0em; margin: 0; }
.markdown h6 { font-size : 1.0em; margin: 0; }


.logged-in-info, .sidebar-nav {
    padding: 9px 0;
    margin: 20px 0;
}

.logged-in-info {
    position: relative;
    height: 48px;
}

.logged-in-info .avatar {
    position: absolute;
    left: 10px;
    top: 10px;
}

.logged-in-info .text {
    margin-left: 70px;
    margin-top: 4px;
}

.logged-in-info .logged-in-user {
    font-size: 1.4em;
    font-weight: bold;
    color: #333;
}

.logged-in-info .logout-link {
    margin-left: 5px;
}

.logged-in-info .logged-in-as {
    color: #888;
}


.users {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: -30px;
}

.users .user {
    position: relative;
    height: 40px;
    padding: 10px;
}

.users .user .avatar {
    position: absolute;
    top: 10px;
    left: 10px;
}

.users .user .text {
    margin-left: 50px;
}

.users .user .text h5 {
    margin: 0;
}

.email-checkbox {
    width: 120px;
    display: inline-block;
}

.email-checkbox * {
    vertical-align: -3px;
}

.repositories {
    list-style: none;
    margin: 0;
    padding: 0;
}

.repositories li {
    margin: 0 10px 10px 0;
    padding: 10px;
    border: 1px solid #CCC;
    box-shadow: 0 0 0 2px #FFF inset;
    background: -webkit-gradient(linear, left top, left bottom, from(#F6F6F6), to(#DDD));
    background: #EEE;
    display: table;
    width: 100%;
}

.repositories li > div {
    display: table-cell;
}

.repositories li .tags .label {
    vertical-align: middle;
}

.repositories li .tags .btn {
    padding: 1px 4px;
}

.repositories li .last-activity {
    color: #666;
    font-size: 0.8em;
    margin-left: 10px;
}

.repositories li input.git-url {
    font-size: 0.9em;
    padding: 0 4px;
    margin: 0;
    width: 30em;
    text-align: right;
}

.repositories li span.git-url {
    font-size: 0.8em;
    background: #F6F6F6;
    padding: 2px 4px;
    border: 1px solid #CCC;
    border-radius: 2px;
}

.repositories li .title {
    font-size: 1.5em;
    font-weight: bold;
}

.repositories li .title small {
    font-weight: normal;
    color: #AAA;
    font-size: 10pt;
}

.repositories li .labels {
    width: 100px;
    text-align: right;
}

.info {
    font-size: 0.9em;
    color: #888;
}
