.sidebar-nav {
    padding: 9px 0;
    margin: 20px 0;
}

#wrapper {
    min-height: 100%;
    position: relative;
}

html, body {
    height: 100%;
}

#body {
    min-height: 100%;
    padding-bottom: 100px;
}

#footer {
    height: 30px;
    background: #F7F7F7;
    border-top: 1px solid #DDD;
    margin-top: 20px;
    padding: 20px 0 10px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.hash {
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
    font-weight: bold;
    margin: 0 5px;
}

.flashes .alert:first-child {
    margin-top: 20px;
}

/*body {
    background-color: #EEE;
}

.container div.content {
    background-color: white;
    padding: 20px;
    margin: 0 -20px;
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    box-shadow: 0 1px 2px rgba(0,0,0,.15);
}
*/

.browse-path {
    font-size: 16pt;
}

.browse-path .separator {
    color: #AAA;
    font-weight: bold;
}

.browse-path .repo {
    font-weight: bold;
}


.commit-info {
    border-radius: 6px;
    margin: 10px 0;
    padding: 6px;
    height: 24px;
}

.commit-info div {
    display: inline-block;
    height: 24px;
    vertical-align: top;
    overflow: hidden;
}

.commit-info .author {
    margin: -6px;
    padding: 6px;
    background: #EEE;
    border-radius: 6px 0 0 6px;
    border-right: 1px solid #DDD;
    margin-right: 6px;

    font-weight: bold;
    color: #777;
}

.commit-info .author .avatar {
    margin-right: 6px;
}

.avatar img {
    border-radius: 15%;
}
