#wrapper {
    min-height: 100%;
    position: relative;
}

html, body.default {
    height: 100%;
}

#body {
    min-height: 100%;
    padding-bottom: 100px;
}

#footer {
    height: 30px;
    background: #F7F7F7;
    border-top: 1px solid #DDD;
    margin-top: 20px;
    padding: 20px 0 10px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.hash {
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
    font-weight: bold;
    margin: 0 5px;
}

.flashes .alert:first-child {
    margin-top: 20px;
}

/*body {
    background-color: #EEE;
}

.container div.content {
    background-color: white;
    padding: 20px;
    margin: 0 -20px;
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    box-shadow: 0 1px 2px rgba(0,0,0,.15);
}
*/

.browse-path {
    font-size: 16pt;
}

.browse-path .separator {
    color: #AAA;
    font-weight: bold;
}

.browse-path .repo {
    font-weight: bold;
}


.commit-info {
    border-radius: 6px;
    margin: 10px 0;
    padding: 6px;
    position: relative;
}

.commit-info div {
    display: inline-block;
    vertical-align: top;
}

.commit-info .message {
    margin-left: 120px;
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}

.commit-info .author {
    padding: 4px;
    background: #EEE;
    border-radius: 6px 0 0 6px;
    border-right: 1px solid #DDD;
    margin-right: 6px;

    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100px;

    font-weight: bold;
    color: #777;
    line-height: 24px;
}

.commit-info .author .avatar {
    margin-right: 6px;
}

.avatar img {
    border-radius: 4px;
}

.codefile {
    background: #F7F7F7;
    padding: 6px;
    border-radius: 6px;
    border: 1px solid #DDD;
}

.codefile pre {
    background: none;
    border: none;
    padding: 0;
    font-size: 10pt;
    line-height: 1.4em;
    margin: 0;
}

.codefile {
    overflow: auto;
    width: 100%;
    padding: 0;
    margin: 0;
}

.linenos pre {
    padding: 0 10px;
    text-align: right;
}

pre {
    white-space: pre !important;
    overflow: auto !important;
}

.highlight pre {
    background: none !important;
}

.markdown-file {
    padding: 10px 20px;
    background: #FDFDFD;
    border: 3px solid #EEE;
    border-radius: 3px;
    box-shadow: 0 0 2px #888 inset;
}

.markdown h1 { font-size : 1.6em; margin: 0; }
.markdown h2 { font-size : 1.4em; margin: 0; }
.markdown h3 { font-size : 1.2em; margin: 0; }
.markdown h4 { font-size : 1.0em; margin: 0; }
.markdown h5 { font-size : 1.0em; margin: 0; }
.markdown h6 { font-size : 1.0em; margin: 0; }


.logged-in-info, .sidebar-nav {
    padding: 9px 0;
    margin: 20px 0;
}

.logged-in-info {
    position: relative;
    height: 48px;
}

.logged-in-info .avatar {
    position: absolute;
    left: 10px;
    top: 10px;
}

.logged-in-info .text {
    margin-left: 70px;
    margin-top: 4px;
}

.logged-in-info .logged-in-user {
    font-size: 1.4em;
    font-weight: bold;
}

.logged-in-info .logout-link {
    margin-left: 5px;
}

.logged-in-info .logged-in-as {
    color: #888;
}


.users {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: -30px;
}

.users .user {
    position: relative;
    height: 40px;
    padding: 10px;
}

.users .user .avatar {
    position: absolute;
    top: 10px;
    left: 10px;
}

.users .user .text {
    margin-left: 50px;
}

.users .user .text h5 {
    margin: 0;
}
